input#id_name {
    border: none;
    background-color: #EEE;
    border-bottom: 1px solid #161616;
}

input#id_name:focus {
    outline: none;
}

input#id_password {
    border: none;
    background-color: #EEE;
    border-bottom: 1px solid #161616;
}

input#id_password:focus {
    outline: none;
}

input#id_email {
    border: none;
    background-color: #EEE;
    border-bottom: 1px solid #161616;
}

input#id_email:focus {
    outline: none;
}

.container_hm {
    margin-top: 7px !important;
}

.upload-button {

	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	
	color: #161616;

	background: transparent;
  	border: 0px solid transparent;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0px;
}