{% extends 'base.html' %}
{% load static %}

{% block css %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_page.css' %}">
</head>
{% endblock css %}

{% block content %}
<div class="content_page">
    <form method="post">
    {% csrf_token %}
        <div class="row justify-content-between">
            <h1 class="title">ADMIN</h1>
            <div class="button_profile_edit">
                <button type="submit" class="button_profile-text btn btn-default">EDIT</button> 
                <img class="button_profile-image" src="{% static 'img/arrow1.svg' %}" />
            </div>       
        </div>
        <div class="row container_admin">
            <div class="col-md-3 profile_details">
                <img class="pic" src="{{admin.image.url}}" />
                <h2 class="profile_name">ADMIN</h2>

            </div>
            <div class="col-md-9">
                <div class="row params profile-params">
                    <div class="col-md-12">
                        <div class="row">
                            <p><b>NAME</b></p>
                        </div>
                        <div class="row">
                            <p>{{admin.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>  
        var pass = document.getElementById("password");
        var new_pass = '';

        for (let i = 0; i < pass.innerText.length; i++) {
            new_pass = new_pass + '*';
        }
        
        pass.innerText = new_pass;
    </script>
</div>
{% endblock %}