{% extends 'base.html' %}
{% load static %}

{% block css %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/hm.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hm_edit.css' %}">
</head>
{% endblock css %}

{% block content %}
<div class="content_page">
    <form id="create-form" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row justify-content-between">
            <h1 class="title">CREATE HIRING MANAGER</h1>
            <div class="button_profile_edit">
                <button type="submit" form="create-form"  class="button_profile-text btn btn-default">CREATE</button> 
                <img class="button_profile-image" src="{% static 'img/arrow1.svg' %}" />
            </div>       
        </div>
        <div class="row justify-content-end" style="margin-top: 58px;"></div>
        <div class="row container_hm">
            <div class="col-md-3 profile_details">
                {% if hm_perfil %}
				<img class="pic" src="{{hm_perfil.image.url}}" >
				{% else %}
				<img class="pic" src="{% static 'img/profile.png' %}"> 
				{% endif %}
				<button type="button" id="btnUpload" class="upload-button">UPLOAD IMAGE →</button>
                <input type="file" name="image" accept="image/*" id="id_image" style="opacity:0%;display:none;">

            </div>
            <div class="col-md-9">
                <div class="row params profile-params">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-6"><p><b>NAME</b></p></div>
                            <div class="col-6"><p><b>PASSWORD</b></p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p class="p inputs">{{form.name}}</p></div>
                            <div class="col-6"><p class="p inputs">{{form.password}}</p></div>
                        </div>
                    </div>
                </div>
                <div class="row params profile-params">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12"><p><b>EMAIL</b></p></p></div>
                        </div>
                        <div class="row">
                            <div class="col-12"><p class="p inputs" >{{ form.email }}</p></div>
                        </div>
                    </div>
					<div class="col-md-6">
                        <div class="row">
							<div class="create-form-2">
								{% for message in messages %}
									<div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
										<div id="form_errors">
											<span class="fieldWrapper">
												{{ message }}
											</span>
										</div>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								{% endfor %}
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </form>
    <script>  
        var pass = document.getElementById("password");
        let btnUpload=document.getElementById("btnUpload");
        let input=document.getElementById("id_image");
        var new_pass = '';

        btnUpload.addEventListener('click', () => {
            input.click();
        })

        for (let i = 0; i < pass.innerText.length; i++) {
            new_pass = new_pass + '*';
        }
        
        pass.innerText = new_pass;

        
    </script>
</div>
{% endblock %}